page-programacion {
    h2{
        color:#991B1A;
        padding: 1%;
        text-transform: uppercase;
        text-shadow: 2px;
    }
    
    p{
        padding-left: 1%;
    
    }
    ion-list{padding: 0 15px}
    .btn-prog{text-align: center; margin: 0 auto !important;}
}
