<ion-header>
  <ion-navbar>
    <ion-title><img src="i../../assets/imgs/lavozdemaria.png"/></ion-title>     
      
  </ion-navbar>
</ion-header>
<ion-content>
  <img src="i../../assets/imgs/home.png">
	<div class="radio" (click)='initRadio()' >
		<div class="logo">  
	    </div> 
			<button  ion-button icon-only clear><ion-icon ios="ios-play" md="md-play"></ion-icon> Dale Play a la Radio</button>			
	</div>
 
        
    <h4 align="center">ÚLTIMAS NOTICIAS</h4>
    <button ion-button outline center class="aportacion" >LEER NOTICIAS</button>
    <!--ion-refresher (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
   	<ion-list>

    <ion-item *ngFor="let article of news" (click)="showNewsPage(article)" clear item-end> 
    
    <ion-thumbnail item-start *ngIf="article.images.image_intro">
      <img [src]="article.images.image_intro"> 
         
    </ion-thumbnail>
    <h2>{{article.title}}   </h2>
    <p> {{article.metadesc}}</p>
    <button ion-button clear item-end>Ver</button>
      
  </ion-item>
        
</ion-list-->
   
</ion-content>
<ion-footer align="center">
  <button ion-button outline (click)="gotoChat()" color="rmaria"> <ion-icon float-right name="chatbubbles" color="rmaria"> </ion-icon> </button>
  <button ion-button outline (click)="callRlvm()" color="rmaria"><ion-icon float-right name="call" color="rmaria"></ion-icon></button>
</ion-footer>
