page-home {

    .radio {
        background-color: #f2f3f4;
        position: relative;
        bottom: 7%;
        overflow: hidden;
        padding: 10px;
        .radio-tmp{
           
           display: table;
           float: left;
           margin-top: 10px;
       
        }
        
        }
   
       
              
       .button-clear-md {
       color: #D08E00 !important;
       }
       
       
       .logo {
           width: 25%;
           padding: 13%;
           background: url(../assets/imgs/logo-maria.png) no-repeat center center !important;
           background-size: contain;
           float: left;
       }
       
      
       
        
   }
   