page-aportacion {
    
    
    .text-container{
        padding: 20px;
        text-align: center;
        font-family: "Roboto";
        margin-top: 5%;
        }
    
    
    .text-black{
      text-align: center;
        padding: 5%;
    }
    
    
    .paypal-button img{
      width: 20%;
        
        }

}
